 .container {
     position: relative;
     overflow: hidden;
 }

 .content {
     position: relative;
 }

 img[alt="Rectangle"] {
     position: absolute;
     bottom: 7px;
     left: 72%;
     transform: translate(-50%, 0%);
     border-radius: 10px 10px 0 0;
 }

 .overlay-text {
     position: absolute;
     top: 56%;
     left: 72%;
     transform: translate(-50%, -50%);
     min-width: 546px;
     color: #333333;
     font-family: var(--font-family);
     font-weight: var(--font-weight-500);
     font-size: 18px;
 }