.container-detail {
    display: grid;
    grid-template-columns: 0.20fr 0.90fr 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
    grid-auto-flow: row;
    grid-template-areas:
        "other-images image space detalhes--grandes"
        "last-row last-row last-row detalhes-pequenos";
    padding: 2rem 7%;
}

.detail-title {
    font-size: 42px;
}

.price-customer {
    font-size: 24px;
    color: #9F9F9F;
}

.detail-stars {
    display: flex;
    align-items: flex-start;
    height: 20px;
}

.detail-price-customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.detail-bar {
    color: #9F9F9F;
}

.detail-customer {
    font-size: 13px;
    color: #9F9F9F;
}

.detail-paragraph {
    font-size: 13px;
    max-width: 424px;
}

.size-title {
    display: flex;
    font-size: 14px;
    color: #9F9F9F;
    padding: 10px 0;
}

.size-item {
    display: flex;
    gap: 10px;
}

.size-items {
    width: 1.875rem;
    height: 1.875rem;
    border: none;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
}

.size-items:hover {
    background-color: #B88E2F;
    color: #FFFFFF;
}

.last-row {
    grid-area: last-row;
}

.other-images {
    grid-area: other-images;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.other-images-item {
    background-color: #F9F1E7;
    height: 80px;
    width: 76px;
    border-radius: 10px;
    object-fit: contain;
}

.image-big {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 423px;
    height: 500px;
    background-color: #F9F1E7;
    border-radius: 10px;
}

.image-big-detail {
    object-fit: none;
}

.detalhes--grandes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.detalhes-pequenos {
    grid-area: detalhes-pequenos;
}

.circle-container {
    display: flex;
    padding: 10px 0;
    gap: 0.75rem;
}

.circle-title {
    font-size: 14px;
    color: #9F9F9F;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.purple-circle {
    background-color: #816DFA;
}

.black-circle {
    background-color: #000000;
}

.yellow-circle {
    background-color: #B88E2F;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #9F9F9F;
    width: 123px;
    height: 64px;
    border-radius: 10px;
}

.quantity-button {
    border: none;
    background-color: white;
}


.add-to-cart {
    min-width: 215px;
    border-radius: 10px;
    border: solid 1px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
}

.compare {
    min-width: 215px;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px;
    background-color: #FFFFFF;
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
}

.detail-separador {
    border: solid 1px #D9D9D9;
}


.product-meta {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    color: #9F9F9F;
    line-height: 2.5;
}

.product-meta-detail {
    display: grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
    width: 100%;
}

.share {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.value-share {
    margin-left: 25px;
}

.separador {
    border: solid 1px #D9D9D9;
}