.singleBar {
    padding-bottom: 3rem;
}

.singleBarItems {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3%;
    padding: 0 7%;
    background-color: #F9F1E7;
    height: 100px;
    margin-top: 100px;
}

.singleBarLinks {
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    color: #9F9F9F;
    font-size: 1rem;
}

.container-detail {
    display: grid;
    grid-template-columns: 0.20fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
    grid-auto-flow: row;
    grid-template-areas:
        "other-images image space detalhes--grandes"
        "last-row last-row last-row detalhes-pequenos";
    padding: 2rem 7%;
}

.detail-title {
    font-size: 42px;
}

.price-customer {
    font-size: 24px;
    color: #9F9F9F;
}

.detail-stars {
    display: flex;
    align-items: flex-start;
    height: 20px;
}

.detail-price-customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.detail-bar {
    color: #9F9F9F;
}

.detail-customer {
    font-size: 13px;
    color: #9F9F9F;
}

.detail-paragraph {
    font-size: 13px;
}

.size-title {
    display: flex;
    font-size: 14px;
    color: #9F9F9F;
    padding: 5px 0;
}

.size-item {
    display: flex;
    gap: 10px;
    padding: 10px auto;
}

.size-items {
    width: 1.875rem;
    height: 1.875rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
}

.size-items:hover {
    background-color: #B88E2F;
    color: #FFFFFF;
}

.last-row {
    grid-area: last-row;
}

.other-images {
    grid-area: other-images;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.other-images-item {
    background-color: #F9F1E7;
    height: 80px;
    width: 76px;
    border-radius: 10px;
    object-fit: contain;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    max-width: 423px;
    height: 500px;
    background-color: #F9F1E7;
    border-radius: 10px;
}

.detalhes--grandes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15%;
}

.detalhes-pequenos {
    grid-area: detalhes-pequenos;
}