 .container {
     position: relative;
 }

 .content {
     position: relative;
 }

 .background-image {
     min-height: 600px;
 }

 .Rectangle {
     position: absolute;
     bottom: 1%;
     left: 50%;
     border-radius: 10px 10px 0 0;
     height: 392px;
     width: 643px;
 }

 .overlay-text {
     position: absolute;
     top: 56%;
     left: 72%;
     transform: translate(-50%, -50%);
     min-width: 546px;
     color: #333333;
     font-family: var(--font-family);
     font-weight: var(--font-weight-500);
     font-size: 18px;
 }